body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.atm-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: blue;
}

button:hover {
    background-color: white;
    color: blue;
    border-width: 1px;
    border-color: blue;
}

input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
}
